$navbar-default-bg:#fff;

@import "bootstrap-sprockets";
@import "bootstrap";

.nav_style{
    border:0px;
    border-radius:none;
    border-bottom:1px solid #eaeaea;
}
ul li a{
    text-decoration:none;
    color:#333;
   
}
ul li a:hover{
    text-decoration:none;
    color:#333; 
}
nav{
    margin-right:2%;
    margin-top:30px;
}
.new-navbar ul li a{
    font-size:18px;
    color:#333!important;
    padding-bottom:30px;
}
.new-navbar ul li a:hover{
    color:green!important;
}
.new-navbar{
    color:#fff!important;
}
.new-navbar:hover{
    color:#333!important;
}
.form_control{
    border:1px solid green;
    font-size:18px;
}
.form_control:hover{
    border:1px solid green;
    font-size:18px;
}
#logo{
    color:green !important;
    font-size:30px;
   
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:-1.5px;
}
.alignment{
    text-align:center;
}
.jumbotron{
    background-image:asset-url('rails.jpg');
    background-size:cover;
    height:550px;
}
.jumbotron h1{
    color:#fff;
}
.btn-style{
    background-color:#000000;
    border:none;
}
.article-actions{
    border-top:1px solid #eaeaea;
    padding-top:15px;
}
.article-title{
    margin-top:0;
    font-weight:700;
    font-size:20px;
}
.article-body{
    border-top:1px solid #eaeaea;
    padding-top:15px;
    margin-bottom:15px;
}
.article-meta-data{
    border-top:1px solid #eaeaea;
    padding-top:10px;
    padding-bottom:10px;
}

footer{
    min-height:70px;
    background-color:#f5f5f5;
    border-top:1px solid #eaeaea;
    margin-top:50px;
}

.small{
    float:left;
    margin-top:30px;
    padding-left:10%;
}
.small a{
    color:#333;
    text-decoration:none;

  
}
footer ul li{
    list-style:none;
    float:right;
    
}
